<div>
    <h1>Login</h1>
    <form action="/auth/login" method="post">

        <label for=""> Mail: </label>
        <input type="email" name="email">

        <label for=""> Password: </label>
        <input type="password" name="password">
        
        <input type="submit" class="btn btn-success" value="Enviar">
    </form>
</div>

<div>
    <form action="/api/recuperacion-contra" method="get">
        <input type="submit" class="btn btn-secondary" value="¿Olvidaste tu contraseña?">
    </form>
</div>

<div>
    <form action="/auth/github" method="get">
        <input type="submit" class="btn btn-primary" value="Acceder con Github">
    </form>
</div>

<div>
    <form action="/register" method="get">
        <input type="submit" class="btn btn-success" value="Regístrate">
    </form>
</div>