<h1>Productos en tiempo real</h1>

<div class="productsRealTime"></div>

{{!-- Prendo el socket io en este handlebars y enlazo el script que maneja el js. --}}
{{!-- <script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/socketHandler.mjs"></script> --}}