<div>
    <h1>Register</h1>
    <form action="/api/auth/register" method="post">
        <label for="" > Username: </label>
        <input type="text" name="user">

        <label for="" > Password: </label>
        <input type="password" name="password">

        <label for="" > Mail: </label>
        <input type='email' name="email">

        <label for="" > Tel: </label>
        <input type="number" name="tel">
        
        <input type="submit" value="Enviar">
    </form>
</div>